In [67]:
import pandas as pd
import numpy as np

import pymysql                       
from sqlalchemy import create_engine  

from getpass import getpass

The objective is to identify which films will be rented and to create a model to predict it for June 2005 but looking at May 2005 data from the Sakila database.

In [68]:
password = getpass()

········

In [69]:
#Establishing a connection between Python and the Sakila database.

connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

Create a query or queries to extract the information you think may be relevant for building the prediction model.

It should include some film features and some rental features (X).

Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. 

(Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

Read the data into a Pandas dataframe. At this point you should have 1000 rows. 

Number of columns depends on the number of features you chose.

Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

Evaluate the results.

In [140]:
#query 1: Connect Sakila film to inventory to rental, so we can get back 1000 unique film titles with a column for if the movie was rented in may.

query1 = '''SELECT *, CASE WHEN film.title IN
(SELECT DISTINCT film.title as film_title FROM sakila.film
JOIN sakila.inventory USING (film_id)
JOIN sakila.rental USING (inventory_id)
WHERE rental.rental_date LIKE "2005-05%%")
THEN "1" ELSE "0" END AS rented_in_may
FROM sakila.film;'''


film =pd.read_sql_query(query1, engine)
film

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,rented_in_may
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 00:33:42,1
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 00:33:42,0
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 00:33:42,1
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 00:33:42,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 00:33:42,1
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 00:33:42,1

In [141]:
#query 2: Connect film_id from sakila film to sakila category on film_id

query2 = 'SELECT film_category.film_id, category.name AS category_name FROM sakila.film_category JOIN sakila.category USING (category_id)'
film_category = pd.read_sql_query(query2, engine)
film_category

# join film with film_category to make film2
film2 = pd.merge(left=film,right=film_category,how = 'inner',left_on = 'film_id', right_on='film_id')
film2

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,rented_in_may,category_name
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 00:33:42,1,Documentary
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 00:33:42,0,Horror
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1,Documentary
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 00:33:42,1,Horror
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 00:33:42,1,Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0,Documentary
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0,Music
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 00:33:42,1,Horror
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1,Children
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 00:33:42,1,Comedy

In [143]:
#query3: Connect film_id from sakila inventory to count film id in inventory table 


inventory_count = pd.read_sql_query('SELECT film_id, COUNT(film_id) AS inventory_count FROM inventory GROUP BY film_id;', engine)
film3 = pd.merge(left=film2,right=inventory_count,how = 'outer',left_on = 'film_id', right_on='film_id')
film3

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,rented_in_may,category_name,inventory_count
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 00:33:42,1,Documentary,8.0
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 00:33:42,0,Horror,3.0
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1,Documentary,4.0
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 00:33:42,1,Horror,7.0
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 00:33:42,1,Family,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0,Documentary,2.0
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 00:33:42,0,Music,2.0
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 00:33:42,1,Horror,2.0
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 00:33:42,1,Children,5.0
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 00:33:42,1,Comedy,8.0

In [144]:
film3.nunique()

film_id                 1000
title                   1000
description             1000
release_year               1
language_id                1
original_language_id       0
rental_duration            5
rental_rate                3
length                   140
replacement_cost          21
rating                     5
special_features          15
last_update                1
rented_in_may              2
category_name             16
inventory_count            7
dtype: int64

In [145]:
film3.shape
film3.dtypes
film3['rented_in_may'].value_counts(dropna=False)

1    686
0    314
Name: rented_in_may, dtype: int64

In [146]:
film3.dtypes

film_id                          int64
title                           object
description                     object
release_year                     int64
language_id                      int64
original_language_id            object
rental_duration                  int64
rental_rate                    float64
length                           int64
replacement_cost               float64
rating                          object
special_features                object
last_update             datetime64[ns]
rented_in_may                   object
category_name                   object
inventory_count                float64
dtype: object

In [147]:
 film3.isna().values.any()

True

In [148]:
film3.isna().sum().sum()

1042

In [151]:
#dropping columns

film_cols = film3[['rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'rented_in_may', 'category_name', 'inventory_count']].copy()
display(film_cols.shape)
film_cols

(1000, 8)

,rental_duration,rental_rate,length,replacement_cost,rating,rented_in_may,category_name,inventory_count
0,6,0.99,86,20.99,PG,1,Documentary,8.0
1,3,4.99,48,12.99,G,0,Horror,3.0
2,7,2.99,50,18.99,NC-17,1,Documentary,4.0
3,5,2.99,117,26.99,G,1,Horror,7.0
4,6,2.99,130,22.99,G,1,Family,3.0
...,...,...,...,...,...,...,...,...
995,6,0.99,183,9.99,G,0,Documentary,2.0
996,4,0.99,179,14.99,NC-17,0,Music,2.0
997,6,0.99,105,10.99,NC-17,1,Horror,2.0
998,5,2.99,101,28.99,R,1,Children,5.0
999,3,4.99,50,18.99,NC-17,1,Comedy,8.0

In [152]:
film_cols.isna().sum()

rental_duration      0
rental_rate          0
length               0
replacement_cost     0
rating               0
rented_in_may        0
category_name        0
inventory_count     42
dtype: int64

In [ ]:
# 42 movies from 1000 were not rented?? or were 42 titles not in the inventory?

In [153]:
#filling the nulls  with 0 

film_cols['inventory_count'] = film_cols['inventory_count'].fillna('0')

film_cols.isna().sum()

rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
rented_in_may       0
category_name       0
inventory_count     0
dtype: int64

In [154]:
film_cols.dtypes

rental_duration       int64
rental_rate         float64
length                int64
replacement_cost    float64
rating               object
rented_in_may        object
category_name        object
inventory_count      object
dtype: object

In [157]:
#changing the numerics from objects to integers
film_cols['rented_in_may'] = film_cols['rented_in_may'].astype('int')
film_cols['inventory_count'] = film_cols['inventory_count'].astype('int')

film_cols.dtypes

rental_duration       int64
rental_rate         float64
length                int64
replacement_cost    float64
rating               object
rented_in_may         int64
category_name        object
inventory_count       int64
dtype: object

In [158]:
film_cols.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
rental_duration,1000.0,NaN,NaN,NaN,4.985,1.411654,3.0,4.0,5.0,6.0,7.0
rental_rate,1000.0,NaN,NaN,NaN,2.98,1.646393,0.99,0.99,2.99,4.99,4.99
length,1000.0,NaN,NaN,NaN,115.272,40.426332,46.0,80.0,114.0,149.25,185.0
replacement_cost,1000.0,NaN,NaN,NaN,19.984,6.050833,9.99,14.99,19.99,24.99,29.99
rating,1000,5,PG-13,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rented_in_may,1000.0,NaN,NaN,NaN,0.686,0.464349,0.0,0.0,1.0,1.0,1.0
category_name,1000,16,Sports,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inventory_count,1000.0,NaN,NaN,NaN,4.581,2.020277,0.0,3.0,5.0,6.0,8.0

# start training the data

In [159]:
correlations_matrix = film_cols.corr()
correlations_matrix

/var/folders/cc/r4673nsd0p39g5zf2x_pr6nw0000gn/T/ipykernel_1827/2381507553.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations_matrix = film_cols.corr()

,rental_duration,rental_rate,length,replacement_cost,rented_in_may,inventory_count
rental_duration,1.000000,0.025777,0.061586,-0.000831,-0.065222,-0.098026
rental_rate,0.025777,1.000000,0.029789,-0.044620,-0.019824,-0.040384
length,0.061586,0.029789,1.000000,0.005605,0.010153,-0.019243
replacement_cost,-0.000831,-0.044620,0.005605,1.000000,0.029611,0.087985
rented_in_may,-0.065222,-0.019824,0.010153,0.029611,1.000000,0.364323
inventory_count,-0.098026,-0.040384,-0.019243,0.087985,0.364323,1.000000

In [160]:
# X/y split and train/test split
y = film_cols['rented_in_may']
X = film_cols.drop('rented_in_may', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [161]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)
display(X_train_norm)
X_train_norm.describe().T

     rental_duration  rental_rate    length  replacement_cost  inventory_count
0               0.50          1.0  0.769784              0.70            0.250
1               0.75          0.0  0.151079              0.65            0.875
2               0.00          0.5  0.258993              1.00            0.875
3               0.50          1.0  0.223022              0.70            0.875
4               0.25          0.0  0.733813              0.65            0.500
..               ...          ...       ...               ...              ...
795             0.50          0.0  0.151079              0.70            0.250
796             0.00          0.0  0.683453              0.40            0.750
797             0.00          1.0  0.467626              0.15            0.750
798             0.50          1.0  0.906475              0.70            0.500
799             0.50          0.5  0.316547              0.20            0.500

[800 rows x 5 columns]

,count,mean,std,min,25%,50%,75%,max
rental_duration,800.0,0.491875,0.348557,0.0,0.250000,0.500000,0.7500,1.0
rental_rate,800.0,0.492500,0.410980,0.0,0.000000,0.500000,1.0000,1.0
length,800.0,0.503516,0.289449,0.0,0.257194,0.496403,0.7500,1.0
replacement_cost,800.0,0.509375,0.303030,0.0,0.250000,0.500000,0.7625,1.0
inventory_count,800.0,0.577812,0.252491,0.0,0.375000,0.625000,0.7500,1.0

In [162]:
X_train_categorical = X_train.select_dtypes(include = object)

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(X_train_categorical)
cols = encoder.get_feature_names_out(input_features=X_train_categorical.columns)
X_train_encoded = pd.DataFrame(encoder.transform(X_train_categorical).toarray(),columns=cols)
X_train_encoded

,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_name_Animation,category_name_Children,category_name_Classics,category_name_Comedy,category_name_Documentary,category_name_Drama,category_name_Family,category_name_Foreign,category_name_Games,category_name_Horror,category_name_Music,category_name_New,category_name_Sci-Fi,category_name_Sports,category_name_Travel
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
797,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
798,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
X_train_transformed = pd.concat([X_train_norm, X_train_encoded], axis=1)
X_train_transformed

,rental_duration,rental_rate,length,replacement_cost,inventory_count,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_name_Animation,...,category_name_Drama,category_name_Family,category_name_Foreign,category_name_Games,category_name_Horror,category_name_Music,category_name_New,category_name_Sci-Fi,category_name_Sports,category_name_Travel
0,0.50,1.0,0.769784,0.70,0.250,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.75,0.0,0.151079,0.65,0.875,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.5,0.258993,1.00,0.875,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.50,1.0,0.223022,0.70,0.875,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.25,0.0,0.733813,0.65,0.500,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.50,0.0,0.151079,0.70,0.250,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.00,0.0,0.683453,0.40,0.750,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
797,0.00,1.0,0.467626,0.15,0.750,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.50,1.0,0.906475,0.70,0.500,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.50,0.5,0.316547,0.20,0.500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# start logistic regression model

In [164]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='saga', multi_class='multinomial').fit(X_train_transformed, y_train)

In [165]:
X_test_num = X_test.select_dtypes(include = np.number)
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized, columns=X_test_num.columns)
X_test_norm

     rental_duration  rental_rate    length  replacement_cost  inventory_count
0               0.00          0.0  0.374101              0.15            0.375
1               0.75          0.5  0.964029              0.70            0.500
2               0.25          0.5  0.316547              0.45            0.875
3               1.00          0.5  0.618705              0.30            0.000
4               0.25          0.0  0.453237              0.35            1.000
..               ...          ...       ...               ...              ...
195             0.25          0.0  0.402878              0.95            0.750
196             0.25          0.5  0.446043              0.85            0.625
197             1.00          0.5  0.273381              0.70            0.875
198             0.25          0.0  0.294964              0.80            0.625
199             0.50          1.0  0.402878              0.60            0.375

[200 rows x 5 columns]

In [166]:
#values from one hot encoding

X_test_categorical = X_test.select_dtypes(include = object)

X_test_encoded = pd.DataFrame(encoder.transform(X_test_categorical).toarray(),columns=cols)
X_test_encoded

,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_name_Animation,category_name_Children,category_name_Classics,category_name_Comedy,category_name_Documentary,category_name_Drama,category_name_Family,category_name_Foreign,category_name_Games,category_name_Horror,category_name_Music,category_name_New,category_name_Sci-Fi,category_name_Sports,category_name_Travel
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
X_test_transformed = pd.concat([X_test_norm, X_test_encoded], axis=1)
X_test_transformed

,rental_duration,rental_rate,length,replacement_cost,inventory_count,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_name_Animation,...,category_name_Drama,category_name_Family,category_name_Foreign,category_name_Games,category_name_Horror,category_name_Music,category_name_New,category_name_Sci-Fi,category_name_Sports,category_name_Travel
0,0.00,0.0,0.374101,0.15,0.375,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.75,0.5,0.964029,0.70,0.500,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.25,0.5,0.316547,0.45,0.875,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.00,0.5,0.618705,0.30,0.000,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.25,0.0,0.453237,0.35,1.000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.25,0.0,0.402878,0.95,0.750,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
196,0.25,0.5,0.446043,0.85,0.625,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,1.00,0.5,0.273381,0.70,0.875,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.25,0.0,0.294964,0.80,0.625,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.50,1.0,0.402878,0.60,0.375,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [168]:
predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

0.735

In [169]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 25,  37],
       [ 16, 122]])

In [ ]:
# predicted | A | B | C | D |
# --------------------------
# actual  A | + |  |   |   |
# --------------------------
#         B |   | + |   |   |
# --------------------------
#         C |   |   | + |   |
# --------------------------
#         D |   |   |   | + |

In [171]:
#KNN classifier: look at nearest neighbours and use the majority to determine class
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=3, weights='uniform')
clf.fit(X_train_transformed, y_train)

KNeighborsClassifier(n_neighbors=3)

In [172]:
predictions_clf = clf.predict(X_test_transformed)
clf.score(X_test_transformed, y_test)

0.57

In [173]:
confusion_matrix(y_test, predictions_clf)

array([[17, 45],
       [41, 97]])

# so based on these results we can predict with 57% accuracy the rented vs not rented trend for june 2005